*{
  background-color: black;
  margin: 0;
  padding: 0;
}

.article-container{
  display:inline-block;
  color: white;
  background:blue;
  padding: 20px;
  overflow: hidden;
}

.btn{
  color: black;
  background-color: white;
  font-size: 20px;
}
.review-head{
  color: white;
}

.name, .job, .info{
color: white;
background-color:blue;
}